* {
        margin: 0;
        padding: 0;
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
      }
      @font-face {
        font-family: Vazir;
        src: url("Vazir-Regular.eot");
        src: url("Vazir-Regular.eot?#iefix") format("embedded-opentype"),
          url("Vazir-Regular.woff2") format("woff2"),
          url("Vazir-Regular.woff") format("woff"),
          url("Vazir-Regular.ttf") format("truetype");
      }
      body {
        background-color: #121212;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        height: 100vh;
        font-family: Vazir, system-ui;
        font-size: 18px;
        padding: 0 20px;
      }

      ::-webkit-input-placeholder {
        color: #ccc;
      }

      ::-moz-placeholder {
        color: #ccc;
      }

      :-ms-input-placeholder {
        color: #ccc;
      }

      ::-ms-input-placeholder {
        color: #ccc;
      }

      ::placeholder {
        color: #ccc;
      }

      .main-container {
        width: 100%;
        height: 100%;
        background-color: #1e1e1e7a;
        position: relative;
        border-radius: 5px;
        -webkit-backdrop-filter: blur(50px);
                backdrop-filter: blur(50px);
      }

      .card {
        position: relative;
        overflow: hidden;
        padding: 5px;
        cursor: pointer;
        border-radius: 8px;
        -webkit-box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
                box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
      }

      .card::before {
        content: "";
        position: absolute;
        top: var(--y, 50%);
        left: var(--x, 50%);
        -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%); /* اصلاح برای مرکز کردن */
        background: -o-radial-gradient(#007bff, transparent, transparent);
        background: radial-gradient(#007bff, transparent, transparent);
        width: 100%;
        height: 100%;
        opacity: 0;
        -webkit-transition: opacity 0.8s;
        -o-transition: opacity 0.8s;
        transition: opacity 0.8s;
        border-radius: 50%;
      }

      .card:hover::before {
        opacity: 1;
      }

      .container {
        padding: 30px;
        border-radius: 15px;
        max-width: 400px;
        width: 100%;
      }

      h1,
      h2 {
        text-align: center;
        color: white;
        font-size: 23px;
        margin: 0;
      }

      .input-container {
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        margin: 25px 0;
      }

      #result {
        margin: 10px 0;
      }

      .col {
        width: 50%;
        padding: 5px;
      }

      .col-position {
        width: 100%;
      }

      input[type="number"]::-webkit-inner-spin-button,
      input[type="number"]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }

      input {
        width: 100%;
        background-color: #ffffff12;
        color: white;
        border: 1px solid #555;
        -webkit-backdrop-filter: blur(10px);
                backdrop-filter: blur(10px);
        padding: 5px 10px;
        border-radius: 8px;
        font-family: Vazir, system-ui;
        font-size: 15px;
        -webkit-transition: border-color 0.3s ease, -webkit-box-shadow 0.3s ease;
        transition: border-color 0.3s ease, -webkit-box-shadow 0.3s ease;
        -o-transition: border-color 0.3s ease, box-shadow 0.3s ease;
        transition: border-color 0.3s ease, box-shadow 0.3s ease;
        transition: border-color 0.3s ease, box-shadow 0.3s ease, -webkit-box-shadow 0.3s ease;
      }

      input:not(:-moz-placeholder-shown) {
        border-color: #007bff;
        box-shadow: 0 0 5px rgba(0, 123, 255, 0.5),
          inset 0 0 5px rgba(0, 123, 255, 0.5);
      }

      input:not(:-ms-input-placeholder) {
        border-color: #007bff;
        box-shadow: 0 0 5px rgba(0, 123, 255, 0.5),
          inset 0 0 5px rgba(0, 123, 255, 0.5);
      }

      input:not(:placeholder-shown) {
        border-color: #007bff;
        -webkit-box-shadow: 0 0 5px rgba(0, 123, 255, 0.5),
          inset 0 0 5px rgba(0, 123, 255, 0.5);
                box-shadow: 0 0 5px rgba(0, 123, 255, 0.5),
          inset 0 0 5px rgba(0, 123, 255, 0.5);
      }

      input:focus {
        outline: none;
        border-color: #007bff;
        -webkit-box-shadow: 0 0 5px rgba(0, 123, 255, 0.5),
          inset 0 0 5px rgba(0, 123, 255, 0.5);
                box-shadow: 0 0 5px rgba(0, 123, 255, 0.5),
          inset 0 0 5px rgba(0, 123, 255, 0.5);
      }

      button {
        background-color: #007bff;
        color: white;
        padding: 5px 10px;
        border: none;
        border-radius: 8px;
        width: 100%;
        cursor: pointer;
        font-family: Vazir, system-ui;
        font-size: 17px;
        -webkit-transition: background-color 0.3s ease;
        -o-transition: background-color 0.3s ease;
        transition: background-color 0.3s ease;
      }

      button:hover {
        background-color: #0056b3;
      }

      .modal {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.7);
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
      }

      .modal-content {
        background-color: #1e1e1e;
        padding: 20px;
        border-radius: 15px;
        max-width: 400px;
        width: 100%;
        text-align: center;
        color: #ccc;
      }

      .close-button {
        background-color: #2ba11b;
        color: white;
        padding: 10px;
        border: none;
        border-radius: 8px;
        cursor: pointer;
        -webkit-transition: background-color 0.3s ease;
        -o-transition: background-color 0.3s ease;
        transition: background-color 0.3s ease;
      }

      .close-button:hover {
        background-color: #178c07;
      }

      @media (max-width: 600px) {
        .container {
          padding: 20px;
        }

        .col {
          width: 100%;
        }

        h1 {
          font-size: 1.3rem;
        }

        .modal-content {
          font-size: 1rem;
        }
      }
